{%  load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{%  static 'css/bootstrap.min.css'  %}">
    <link rel="stylesheet" href="{%  static 'css/app.css'  %}">
    <title>Loja Virtual</title>

    <script src="{%  static 'js/jquery.min.js'%}"></script>
    <script src="{%  static 'js/popper.min.js'%}"></script>
    <script src="{%  static 'js/bootstrap.min.js'%}"></script>
    
</head>
<body>
    {%  include 'snippets/navbar.html'%}
    {%  block conteudo  %}
    {%  endblock conteudo  %}
    {%  include 'snippets/footer.html'%}
</body>
</html>